        body {
            margin: 0;
            padding: 0;
            background-color: #0b0c10;
            font-family: 'Roboto', sans-serif;
            height: 100vh;
            overflow: hidden;
        }
        
        .Muavip {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 900px;
            height: 650px;
            background: white;
            border-radius: 20px;
        }
        
        .Muavip h1 {
            text-align: left;
            padding: 10px 0 0 40px;
        }
        .button_close{
            position: absolute;
            right: 30px;
            top: 30px;
        }
        .Muavip p {
            text-align: left;
            padding: 0 0 0 40px;
            line-height: 0.7;
        }
        
        .Muavip h2 {
            font-size: 25px;
            text-align: left;
            padding: 0 0 0 40px;
        }
        
        input[type="submit"] {
            width: 200px;
            height: 50px;
            border: 1px solid;
            background: rgba(70, 162, 159, 1);
            border-radius: 20px;
            font-size: 20px;
            color: white;
            font-weight: 700;
            cursor: pointer;
            outline: none;
            position: relative;
            top: 20px;
            left: 350px;
        }
        
        .step-wizard {
            top: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .step-wizard-list {
            list-style-type: none;
            border-radius: 10px;
            display: flex;
            padding: 20px 10px;
            position: relative;
            z-index: 10;
        }
        
        .step-wizard-item {
            padding: 0 20px;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100;
            display: flex;
            flex-direction: column;
            text-align: center;
            min-width: 200px;
            position: relative;
        }
        
        .step-wizard-item+.step-wizard-item:after {
            content: "";
            position: absolute;
            left: 0;
            top: 19px;
            background: rgba(70, 162, 159, 1);
            width: 100%;
            height: 2px;
            transform: translateX(-50%);
            z-index: -10;
        }
        
        .progress-count {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-weight: 600;
            margin: 0 auto;
            position: relative;
            z-index: 10;
            color: transparent;
        }
        
        .progress-count:after {
            content: "";
            height: 40px;
            width: 40px;
            background: rgba(70, 162, 159, 1);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -10;
        }
        
        .progress-count::before {
            content: "";
            height: 10px;
            width: 20px;
            border-left: 3px solid#fff;
            border-bottom: 3px solid #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -60%) rotate(-45deg);
            transform-origin: center center;
        }
        
        .progress-label {
            font-size: 14px;
            font-weight: 600;
            margin-top: 10px;
        }
        
        .current-item .progress-count::before,
        .current-item~.step-wizard-item .progress-count:before {
            display: none;
        }
        
        .current-item~.step-wizard-item .progress-count:after {
            height: 10px;
            width: 10px;
        }
        
        .current-item~.step-wizard-item .progress-label {
            opacity: 0.5;
        }
        
        .current-item .progress-count:after {
            background: #fff;
            border: 2px solid rgba(70, 162, 159, 1);
        }
        
        .current-item .progress-count {
            color: rgba(70, 162, 159, 1);
        }

        input[type="submit"]:hover{
            transform: scale(1.1);
        }